deepspeed==0.9.5
accelerate==0.29.3
transformers==4.44.2
datasets==2.19.0
safetensors==0.4.3
peft==0.10.0
bert_score==0.3.13
rouge-score==0.1.2
sacrebleu==2.3.1
scipy==1.5.4
sentence-transformers==2.2.2
nltk
spacy
mauve-text
faiss-cpu